.wrapper {
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin:15px;
  }
   
  .wrapper > * {
    padding: 20px;
    height:auto;
  }
   
  .page-main {
    flex-grow: 1;
  }
  .algo-box{
    display: flex;
    flex-direction: column;
 
  }